* {
  box-sizing: border-box;
}

.mainCon {
  padding-top: 65px;
  width: 100%;
  padding: 0 20px;
}

.parkingSpaceCon {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.parkingSpaceOptionCon {
  width: 390px;
  height: 70px;
  border-radius: 195px;
  border: 1px rgba(196, 196, 196, 1) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.parkingSpaceOptionInnerCon {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parkingSpaceOptionCon:hover {
  border: 2px solid rgba(0, 151, 255, 1);
}

.parkingSpaceTag {
  font-size: 13px;
}

.learnMoreCon {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnMoreSubCon {
  width: 100px;
  height: 25px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learnMoreSubCon:hover {
  background-color: rgb(233, 229, 229);
}

.crossSymbol {
  font-size: 16px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unitEndTag {
  font-size: 13px;
}

.learnMoreSubCon {
  width: 100px;
  height: 25px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learnMoreText {
  font-weight: 400;
  font-size: 12px;
}
